.columns {
  background: white;
  text-align: left;
  color: #3d3d3d;
}

h1 {
  font-size: 60px;
}

th {
  font-size: 40px;
  padding: 10px 20px;
  border-bottom: 1px black solid;
}

.table {
  position: relative;
  width: 50%;
  margin: auto;
  background: white;
}

.total-price {
  font-size: 30px;
  padding-top: 40px;
}
.total-price button {
  margin: 0 40px;
  border-radius: 25px;
  color: #3d3d3d;
  padding: 10px 6px;
  font-size: 26px;
  font-weight: bold;
  background: #03f800;
  width: 100px;
  height: 60px;
}
.total-price button:hover {
  cursor: pointer;
}

tr {
  background: #c5cec4;
}

tr input[type="button"] {
  vertical-align: center;
  horiz-align: center;
  color: white;
  background: red;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px;
  width: 50px;
  font-size: 26px;
}

tr input[type="button"] .decrease {
  background: blue;
}
