<div class="main">
  <h1>My Cart</h1>

  <div *ngIf="items">
    <div class="list">
      <section *ngFor="let item of items | async">
        <app-product [product]="item"
                     [quant]="item.quantity"
                     (incrementItem)="increase($event)"
                     (decrementItem)="decrease($event)"
                     (removeItem)="remove($event)"></app-product> <!--[quant]="item.quantity" (incrementItem)="increase($event)" (removeItem)="remove($event)"-->
        <!--  <form [formGroup]="quantForm">-->
        <!--    <div class="quantity">-->
        <!--      <input type="button" value="<" (click)="decrease()">-->
        <!--      <label formControlName="quant">{{item.quantity}}</label>-->
        <!--      <input type="button" value=">" (click)="increase()">-->
        <!--    </div>-->
        <!--    <div class="remove-item">-->
        <!--      <input type="button" value="X" (click)="remove()">-->
        <!--    </div>-->
        <!--  </form>-->
      </section>
    </div>


    <div class="total-price">
      <button>Buy</button>
      <h3>Total Price: </h3>
    </div>
  </div>

</div>
