.columns {
  background: white;
  color: #3d3d3d;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

.items span {
  margin: 0 20px;
  font-size: 36px;
}

.columns {
  display: flex;
  padding: 30px;
}
.columns div {
  width: 500px;
  text-align: center;
}

.items {
  display: flex;
  padding: 30px;
  border-bottom: 1px black solid;
  background: #c5cec4;
}
.items div {
  width: 500px;
  text-align: center;
}

.list {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  position: relative;
  width: 80%;
  margin-left: 40px;
  background: white;
}
.list h4 {
  padding: 0 20px;
}

.total-price {
  font-size: 30px;
  padding-top: 40px;
}
.total-price button {
  margin: 0 40px;
  border-radius: 25px;
  color: #3d3d3d;
  padding: 10px 6px;
  font-size: 26px;
  font-weight: bold;
  background: #03f800;
  width: 100px;
  height: 60px;
}
.total-price button:hover {
  cursor: pointer;
}

.quantity-btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background: white;
  transition: .3s;
}
.quantity-btn:active {
  transform: scale(.95);
  transition: .05s;
}

.decrease, .increase {
  border-radius: 10px;
  background: rebeccapurple;
}
.decrease:hover, .increase:hover {
  background: #50128d;
}

.delete-btn {
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ce1b1b;
}
.delete-btn:hover {
  background: darkred;
}
