/* Add a black background color to the top navigation bar */

:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

.topnav {
  display: block;
  position: sticky;
  width: 100%;
  top: 0;
  /*background-color: #333;*/
  background-color: #ffffff;
  border-bottom: #333 1px solid;
  overflow: hidden;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*.left-nav {*/
/*  float: left;*/
/*  background: #2691d9;*/
/*}*/
/*.left-nav a {*/
/*  border-left: 1px #333 solid;*/
/*}*/

.right-nav {
  float: right;
  background: #2691d9;
}
.right-nav a {
  border-left: 1px #333 solid;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active link */
.topnav a.active {
  background-color: #abb4be;
  color: white;
}
