<form [formGroup]="formQuantity">
<!--  <div class="quantity-label">Quantity:</div>-->
<!--  <div class="quantity-div">-->
<!--    <input class="quantity-minus" type="button" #downRef value="-">-->
<!--    <input class="quantity" type="number" min="1" [max]="9" id="quantity" formControlName="quantity" readonly>-->
<!--    <input class="quantity-plus" type="button" #upRef value="+">-->
<!--  </div>-->

  <div class="quantity-label">quantity</div>
  <div class="quantity-div" >
    <input type="button" #downRef value="<">
    <input class="quantity" type="number" min="1" [max]="9" id="quantity" formControlName="quantity" readonly> <!--product.quantity-->
    <input type="button" #upRef class="plus" value=">">
  </div>
</form>
