<!--<div id="b">-->
<!--  <div id="center">-->
<!--    <h1>Create New Product</h1>-->
<!--    <form [formGroup]="createForm"-->
<!--          (ngSubmit)="apply()" #form="ngForm">-->

<!--      <app-input-text [labelText]="'Name'"-->
<!--                      [control]="createForm.controls.name"-->
<!--                      [InvalidInputText]="'Username must have at least 3 characters!'"></app-input-text>-->


<!--      <div class="price-brand-quant-div">-->
<!--        <app-input-text [isSpecialField]="true"-->
<!--                        [labelText]="'Price'"-->
<!--                        [control]="createForm.controls.price"-->
<!--                        [InvalidInputText]="'Price must be at least 1€!'"></app-input-text>-->
<!--        <app-input-text [isSpecialField]="true"-->
<!--                        [labelText]="'Brand'"-->
<!--                        [control]="createForm.controls.brand"-->
<!--                        [InvalidInputText]="'Brand must have at least 3 characters!'"></app-input-text>-->
<!--        <app-input-text [labelText]="'Quant'"-->
<!--                        [control]="createForm.controls.quantity"-->
<!--                        [InvalidInputText]="'Quantity must be at least 1!'"></app-input-text>-->
<!--      </div>-->

<!--      <app-input-text [labelText]="'Category'"-->
<!--                      [control]="createForm.controls.category"-->
<!--                      [InvalidInputText]="'Category must have at least 3 characters!'"></app-input-text>-->

<!--      <div class="image_field">-->
<!--        <label for="file"> </label>-->
<!--        <input id="file" name="file" type="file"-->
<!--               (change)="getFile($event)"/>-->
<!--        <span></span>-->
<!--      </div>-->

<!--      <div class="description_field">-->
<!--        <label [class.isActive]="isActive"-->
<!--               [class.isInactive]="isInactive"-->
<!--               [class.isValid]="isValid">Description</label>-->
<!--        <textarea [class.invalid-border]="invalidBorder"-->
<!--                  [class.valid-border]="validBorder"-->
<!--                  #inputArea name="description" type="" formControlName="description" rows="5" cols="28"></textarea>-->
<!--      </div>-->
<!--      <div class="sub_foot" *ngIf="(createForm.controls.description.dirty)-->
<!--                                          && !createForm.controls.description.valid">Description must have at least 10-->
<!--        characters!-->
<!--      </div>-->

<!--      <button class="submit" type="submit">Create</button>-->

<!--      <div class="error-label" *ngIf="errorMessage != '' && successMessage == ''">-->
<!--        <p>{{errorMessage}}</p>-->
<!--      </div>-->
<!--      <div class="success-label" *ngIf="errorMessage == '' && successMessage != ''">-->
<!--        <p>{{successMessage}}</p>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->






<form class="example-form" [formGroup]="createForm"
      (ngSubmit)="apply()" #form="ngForm">
  <div class="block-wrapper">
    <mat-form-field class="big">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Nokia 105" formControlName="name">
      <mat-hint>Min 3 characters</mat-hint>
      <mat-error *ngIf="createForm.invalid">Wrong Input</mat-error>
    </mat-form-field>
    <mat-form-field class="small">
      <mat-label>Price</mat-label>
      <input size="10" matInput placeholder="Ex. 200" formControlName="price">
      <mat-hint>Min 1 </mat-hint>
      <mat-error *ngIf="createForm.invalid">Wrong Input</mat-error>
    </mat-form-field>
  </div>

  <div class="block-wrapper">
    <mat-form-field class="medium">
      <mat-label>Brand</mat-label>
      <input size="10" matInput placeholder="Ex. Samsung" formControlName="brand">
      <mat-hint>Min 3 characters </mat-hint>
      <mat-error *ngIf="createForm.invalid">Wrong Input</mat-error>
    </mat-form-field>
    <mat-form-field class="medium">
      <mat-label>Quant</mat-label>
      <input size="10" matInput placeholder="Ex. 53" formControlName="quantity">
      <mat-hint>Min 1 </mat-hint>
      <mat-error *ngIf="createForm.invalid">Wrong Input</mat-error>
    </mat-form-field>
    <mat-form-field class="medium">
      <mat-label>Category</mat-label>
      <input size="10" matInput placeholder="Ex. laptop" formControlName="category">
      <mat-hint>Min 3 characters </mat-hint>
      <mat-error *ngIf="createForm.invalid">Wrong Input</mat-error>
    </mat-form-field>
  </div>

  <div class="block-wrapper">
    <mat-form-field class="big">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
      <mat-hint>Min 10 characters </mat-hint>
      <mat-error *ngIf="createForm.invalid">Wrong Input</mat-error>
    </mat-form-field>
    <div class="image_field">
      <label for="file"> </label>
      <input id="file" name="file" type="file"
             (change)="getFile($event)"/>
      <span></span>
    </div>
  </div>

  <button class="submit" type="submit">Create</button>
  <div class="error-label" *ngIf="errorMessage != '' && successMessage == ''">
    <p>{{errorMessage}}</p>
  </div>
  <div class="success-label" *ngIf="errorMessage == '' && successMessage != ''">
    <p>{{successMessage}}</p>
  </div>

</form>
