<div class="b">

  <div class="container">
    <h1>{{currentUsername}}</h1>

    <div class="edit-form">

      <form [formGroup]="profileForm" (ngSubmit)="changePassword()">
        <div>
          <input name="currentPassword" type="password" placeholder="current password" formControlName="currentPassword">
        </div>
        <div>
          <input name="newPassword" type="password" placeholder="New password" formControlName="password">
        </div>
        <div>
          <input name="newPasswordAgain" type="password" placeholder="Re-enter new password" formControlName="passwordAgain">
        </div>
        <div class="buttons">
          <input class="apply-button" type="submit" value="Apply">
          <input class="cancel-button" type="button" value="Cancel" routerLink="/home"> <!-- TODO: go to previous page -->
        </div>
      </form>
      <div class="message-label">
        <label>{{message}}</label>
      </div>
      <div>
        <input class="delete-btn" type="button" value="Delete User" (click)="deleteUser()">
      </div>

    </div>

  </div>

</div>
