.b {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container h1 {
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin: 40px 0;
}

.container {
  position: absolute;
  width: 40em;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background: rgb(240, 240, 240);
}

.edit-form {
  position: absolute;
  left: 10%;
}
.edit-form input {
  border-radius: 20px;
  border:none;
  font-size: 24px;
  margin-bottom: 12px;
  height: 50px;
  width: 400px;
  background: white;
}
.edit-form input[placeholder] {
  padding: 0 12px;
}
.edit-form input[type="submit"] {
  width: 120px;
  font-weight: 500;
  background: #0ed24f;
  color: white;
  margin: 20px 0;
  transition: .2s ease;
}
.edit-form input[type="submit"]:hover {
  font-weight: bold;
  color: black;
  font-size: 26px;
  cursor: pointer;
  transform: scale(1.06);
}
.edit-form input[type="submit"]:active {
  transform: scale(.96);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons .cancel-button {
  background: #ff5858;
  font-weight: 500;
  color: white;
  width: 30%;
  transition: .2s ease;
}
.buttons .cancel-button:hover {
  font-weight: bold;
  color: black;
  font-size: 26px;
  cursor: pointer;
  transform: scale(1.06);
}
.buttons .cancel-button:active {
  transform: scale(0.96);
}

.message-label {
  margin: 50px 0;
  text-align: left;
  font-size: 24px;
  color: green;
}
