<div class="b">

  <div class="container">
    <h1>[Username]</h1>

    <div class="edit-form">

      <form>
        <div>
          <input type="password" placeholder="current password" required>
        </div>
        <div>
          <input type="password" placeholder="New password" required>
        </div>
        <div>
          <input type="password" placeholder="Re-enter new password" required>
        </div>
        <div class="buttons">
          <input class="apply-button" type="submit" value="Apply" (click)="showMessage()">
          <input class="cancel-button" type="button" value="Cancel" routerLink="/home">
        </div>
      </form>
      <div class="message-label">
        <label>{{message}}</label>
      </div>

    </div>

  </div>

</div>
