.b {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.tabs {
  justify-content: left;
  align-self: stretch;

  border-right: #3b3434 2px solid;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  margin-top: -6px;
}

.tab {
  position: relative;
  cursor: pointer;
  padding: 60px 30px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px black solid;
  outline: none;
  text-decoration: none;
  background-color: inherit;
}
.tab:hover {
  background-color: #cccccc;
}
.tab:active {

}



h1 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  margin: 40px 0;
}

.container {
  display: none;
  position: absolute;
  box-shadow: 0 0 7px black;
  width: 40em;
  height: 80%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  /*background: rgb(240, 240, 240);*/
  background: #b2d5d7;
  overflow: hidden;
}
/*.container div:active {*/
/*  background-color: black;*/
/*}*/

.active-profile {
  display: inline-block;
}

.active-password {
  display: inline-block;
}

.active-delete {
  display: inline-block;
}

.edit-form {
  position: absolute;
  left: 10%;
  top: 100px;
}
.edit-form input {
  border-radius: 20px;
  border:none;
  font-size: 24px;
  margin-bottom: 12px;
  height: 50px;
  width: 400px;
  background: white;
}
.edit-form input[placeholder] {
  padding: 0 12px;
}
.edit-form input[type="submit"] {
  width: 120px;
  font-weight: 500;
  background: #0ed24f;
  color: white;
  margin: 20px 0;
  transition: .2s ease;
}
.edit-form input[type="submit"]:hover {
  font-weight: bold;
  color: black;
  font-size: 26px;
  cursor: pointer;
  transform: scale(1.06);
}
.edit-form input[type="submit"]:active {
  transform: scale(.96);
}
.edit-form input[type="submit"]:disabled {
  opacity: 40%;
}
.edit-form input[type="submit"]:enabled {
  background: #0ed24f;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons .cancel-button {
  background: #ff5858;
  font-weight: 500;
  color: white;
  width: 30%;
  transition: .2s ease;
}
.buttons .cancel-button:hover {
  font-weight: bold;
  color: black;
  font-size: 26px;
  cursor: pointer;
  transform: scale(1.06);
}
.buttons .cancel-button:active {
  transform: scale(0.96);
}

.success-label {
  margin: 50px 0;
  text-align: left;
  font-size: 24px;
  color: green;
}

.delete-btn {
  margin-bottom: 50px;
  cursor: pointer;
}

.error-label {
  margin: 50px 0;
  text-align: left;
  font-size: 24px;
  color: indianred;
}

#profile div {
  padding-left: 30px;
}
#username {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}
#uid {
  margin-top: 20px;
  font-size: 21px;
}
