<app-back-nav></app-back-nav>
<div class="float-container">

  <div class="listing-photo">
    <img [src]='product.image' alt="could not load photo of {{product.name}}">
  </div>

  <div class="listing-description">
    <h2>{{product.name}} ({{product.brand}})</h2>
    <span></span>
    <p>{{product.description}}</p>
    <div class="listing-info">
      <h3>price: {{product.price}}€</h3>
      <h3>stock: {{product.quantity}}</h3>
      <h3>{{product.category}}</h3>
    </div>
    <button class="button-56" role="button">Add To Cart</button>
  </div>

</div>

