h2 {
  padding: 10px 40px;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.listing-photo {
  margin: auto;
}
.listing-photo img {
  width: 700px;
  height: 700px;
  border-radius: 30px;
  box-shadow: 5px 10px 10px #b393d3;
}

.listing-info {
  font-size: 22px;
  position: relative;
  background: white;
  margin: 20px 200px;
  border-radius: 20px;
  color: #0068ff;
  font-weight: bolder;
}

.float-container {
  padding: 20px;
  display: flex;
}

.listing-description {
  border: 5px #b393d3 dashed;
  border-radius: 15px;
  background: white;
  width: 45%;
  float: right;
  padding: 30px 10px;
  margin-right: 100px;
}
.listing-description p {
  font-size: 24px;
  padding: 10px 40px;
  border-radius: 10px;
  mc-auto-number-format: '{b}Note: {/b}';
}
.listing-description span {
  display: block;
  margin: 12px 20px 40px 40px;
  width: 80%;
  border-top: 2px solid #2691d9;
}

.listing-description h3 {
  padding: 16px 0;
  text-align: center;
}

.button-56 {
  margin: 100px auto;
  align-items: center;
  background-color: #2937ff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 18px;
  height: 70px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 70px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #8aa5ff;
  color: black;
  font-weight: bold;
  outline: 0;
  transition: .1s;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
