.line {
  display: block;
  border-top: black 2px solid;
  width: 80%;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  opacity: 12%;
}

.all-container {
  width: 100%;
  /*height: 100%;*/
  /*background: #FFFFF1;*/
  /*margin-top: 50px;*/
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
}

  .left-container {
    margin: 10px;
    padding-left: 50px;
    padding-top: 50px;
    /*left: 200px;*/
    /*top: 130px;*/
  }

    .image img {
      border-radius: 20px;
      border: 1px #e6e6e6 solid;
      top: 20px;
      width: 650px;
      height: 650px;
    }

    .upload-file-container {
      border-radius: 10px;
      margin-top: 20px;
      position: relative;
      height: 100px;
    }
    .upload-file-container label {
      position: absolute;
      top: 12px;
      left: 10px;
      font-size: 22px;
    }
    .upload-file-container input[type=file] {
      position: absolute;
      top: 10px;
      left: 160px;
    }
    .upload-file-container input[type=submit] {
      cursor: pointer;
      font-size: 16px;
      width: 100px;
      height: 40px;
      color: white;
      border-radius: 8px;
      background: #005be5;
      font-weight: bold;
      padding: 5px;
      position: absolute;
      bottom: 20px;
      left: 10px;
    }
    .error-notif {
      color: red;
      position: absolute;
      bottom: 20px;
      right: 250px;
    }
    .success-notif {
      color: green;
      position: absolute;
      bottom: 20px;
      right: 250px;
    }

  .right-container {
    display: inline-block;
    vertical-align: middle;
  }

    .top-details h1 {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 54px;
      font-weight: 400;
      font-family: Bookman, URW Bookman L, Serif;
    }
    .top-details h2 {
      margin-top: 45px;
      margin-left: 20px;
      font-size: 32px;
      font-weight: 400;
      font-family: Bookman, URW Bookman L, Serif;
    }

    .med-details {
      margin: 20px;
    }

    .type {
      margin-bottom: 45px;
      text-transform: capitalize;
      font-family: Bookman, URW Bookman L, Serif;
    }
    .type h3 {
      font-size: 22px;
    }

    .quantity-label {
      font-size: 23px;
      font-weight: 350;
      font-family: Comic Sans MS;
      margin-bottom: 8px;
    }

    .quantity-div input[type="number"] {
      /*background: #FFFFF1;*/
      background: inherit;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }
    .quantity-div {
      width: auto;
      /*border: 1px solid #ddd;*/
      display: inline-flex;
    }
    .quantity-div input[type="button"] {
      outline: none;
      box-shadow: none;
      -webkit-appearance: none;
      background-color: transparent;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      position: relative;
      font-size: 30px;
    }

    .quantity-minus {
      border-top: black 1px solid;
      border-left: black 1px solid;
      border-bottom: black 1px solid;
      border-right: none;
    }

    .quantity {
      border-left: none;
      border-right: none;
      border-top: black 1px solid;
      border-bottom: black 1px solid;
      width: 80px;
    }

    .quantity-plus {
      border-top: black 1px solid;
      border-left: none;
      border-bottom: black 1px solid;
      border-right: black 1px solid;
    }

    .relation {
      display: inherit;
      margin-top: 50px;
    }
    .relation input {
      padding: 12px;
      font-size: 18px;
    }

    .hidden-menu {
      min-width: 250px;
      display: none;
      position: absolute;
      /*top: 100%;*/
      padding: 15px;
      box-shadow: 0 0 4px black;
      z-index: 1;
    }

    .relate-notif {
      text-align: center;
      font-size: 18px;
    }
    .relate-success-notif {
      color: green;
    }
    .relate-error-notif {
      color: red;
    }

    /*.relation form input[type="text"]:hover .hidden-menu {*/
    /*  display: block;*/
    /*}*/

    #inputText {
      width: 450px;
      background: inherit;
      border: 1px black solid;
    }
    .menu-show {
      display: block;
      background: white;
      position: absolute;
      /*top: 100%;*/
      padding: 10px;
      box-shadow: 0 0 4px black;
      z-index: 2;
    }
    .menu-show input {
      min-width: 250px;
      display: block;
      position: relative;
      border-bottom: 1px #cecece solid;
      border-right: 1px #cecece solid;
      margin-bottom: 20px;
    }

    .cart-wrapper {
      margin-top: 80px;
      position: relative;
      display: flex;
    }

    .add-to-cart-btn input {
      width: 400px;
      height: 50px;
      font-size: 21px;
      background: #005be5;
      color: white;
      font-weight: bold;
      font-family: sans-serif;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
    .add-to-cart-btn input:hover {
      background-color: #014bbb;
      transition: .1s;
    }
    .add-to-cart-btn input:focus {
    }

    .stock {
      margin-left: 30px;
      text-align: center;
      padding-top: 10px;
    }
    .stock h3 {
      font-size: 24px;
      font-family: Comic Sans MS;
      font-weight: 501;
    }


    .bottom-details {
      margin-left: 20px;
      width: 80%;
    }
    .bottom-details h2 {
      font-size: 30px;
      font-weight: bold;
    }
    .bottom-details p {
      font-size: 23px;
      line-height: 36px;
      font-style: italic;
    }

.related-products-container h2 {
  margin-left: 50px;
  font-size: 30px;
}

.related-products-list {
  margin-bottom: 20px;
  border-radius: 30px;
  background: inherit;
  width: 70vw; /*80vw*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: left;
  align-items: center;
  align-content: space-around;
  align-self: stretch;
  gap: 30px 30px;
  padding-left: 50px; /*100px*/
}
