.flex-box-listing {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
  justify-content: left;
  align-items: center;
  align-content: space-around;
  align-self: stretch;
  min-height: 50vh;
  gap: 3vh 56px;
  padding: 0 64px;
}

.listing p span {

}
