.flex-box-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  gap: 3vh;
}

.listing p span {

}
