<div class="b">
  <div class="center">
    <h1>Sign Up</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="txt_field">
        <input name="username" type="text" formControlName="username">
        <label>Username</label>
        <span></span>
      </div>
      <div class="txt_field">
        <input name="password" type="password" formControlName="password">
        <label>Password</label>
        <span></span>
      </div>
      <div class="txt_field">
        <input name="passwordAgain" type="password" formControlName="passwordAgain">
        <label>Type your password again</label>
        <span></span>
      </div>
      <button type="submit">Register</button>
      <div class="back-btn">
        Already have an account? <a routerLink="/login">Sign In</a>
      </div>
      <div *ngIf="">

      </div>
    </form>

  </div>
</div>
