.paging-container {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 50px 151px;
}

.toBeShown {
  box-shadow: 0 0 3px #3d3d3d;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 100px;
  background-color: white;
  border-radius: 15px;
  padding: 8px 16px;
}

.selector {
  background-color: #0b3bff;
  color: white;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 0;
  margin-left: 18px;
  font-size: 16px;
  border-radius: 7px;
}
.selector:active {
  background-color: #345cfd;
}

.prev-next-buttons {
  /*background-color: whitesmoke;*/
  width: 100px;
  height: 50px;
  font-size: 18px;
}



.page-buttons {
}
.page-buttons input[type="button"] {
  /*border-radius: 50%;*/
  font-size: 20px;
  box-shadow: none;
  width: 50px;
  height: 50px;
  gap: 10px;
}

.focused {
  color: white;
  background-color: #345cfd;
}
.focused:hover {
  background-color: #0b3bff;
}

.unfocused {
  color: #345cfd;
  background-color: white;
}
.unfocused:hover {
  background-color: #eaeaea;
}

@media screen and (max-width: 704px) {
  .paging-container {
    margin: 50px 35px;
  }

  .toBeShown {
    box-shadow: 0 0 3px #3d3d3d;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 100px;
    background-color: white;
    border-radius: 15px;
    padding: 8px 16px;
    opacity: 80%;
  }
}
