<div class="main">
  <app-search-bar [help]="helpText" (result)="getFilteredProducts($event)"></app-search-bar>
  <div class="total-products-text">products found: {{totalProducts}}</div>
  <app-product-list [products]="productList"></app-product-list>  <!--[image]="image"-->

  <div class="paging-container">
    <div class="toBeShown">
      <label for="itemsShown">Choose number of items to be shown: </label>
      <select name="itemsShown" id="itemsShown">
        <option [value]="5" (click)="changeRange(5)">5</option>
        <option [value]="10" (click)="changeRange(10)">10</option>
        <option [value]="15" (click)="changeRange(15)">15</option>
        <option [value]="50" (click)="changeRange(50)">50</option>
      </select>
    </div>
    <input class="prev-next-buttons" type="button" value="Previous" (click)="prevPage()">
    <div class="page-buttons" *ngFor="let num of pages">
      <!--        <input type="button" id="pageNum" [value]="num" [ngClass]="{'focused' : num==1, 'unfocused' : num!=1}" (click)="getProducts(num)">-->
      <input type="button" id="pageNum" [value]="num" [class.focused]="page==num" (click)="getProducts(num)">

      <!--[ngStyle]="{'background-color': num == '1' ? '#345cfd' : 'white', 'color': num == '1' ? 'white' : '#345cfd'}"-->

      <!--          <label for="pageNum">{{num}}</label>-->
    </div>
    <input class="prev-next-buttons" type="button" value="Next" (click)="nextPage()">
  </div>



<!--  <app-paging [totalProducts]="totalProducts"-->
<!--              [range]="range"-->
<!--              [totalPages]="totalPages"-->
<!--              [pages]="pages"-->
<!--              (rangeOutput)="range"-->
<!--              (pageOutput)="getProducts($event)">-->
<!--              &lt;!&ndash;delete later (totalPages)&ndash;&gt;-->
<!--  </app-paging>-->




<!--  <mat-paginator [length]=""-->
<!--                 [pageSize]="10"-->
<!--                 [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--                 aria-label="Select page">-->
<!--  </mat-paginator>-->
</div>
