<div class="main">

  <app-search-bar [help]="helpText" [total]="totalProducts" (result)="setText($event)" (click)="getProducts()"></app-search-bar> <!-- TODO: save the filtered text & call getProducts -->
  <div class="flex-box">
    <div class="categories-list">
      Categories:
      <div class="categories" *ngFor="let category of categoriesArray;let indexOfElement=index;">
        <input type="checkbox" [id]="category" [name]="category" [value]="category" (click)="getCategoryProducts(category)" #checkbox>
        <label [for]="category">{{category}}</label>
      </div>
    </div>
    <div class="products-list">
      <app-product-list [products]="productList"></app-product-list>  <!--[image]="image"-->
    </div>
  </div>

  <app-paging
    [range]="range"
    [pages]="pages"
    [page]="page"
    (rangeOutput)="setRange($event)"
    (pageOutput)="setPage($event)">
  </app-paging>

</div>
